body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    margin: 0;
    padding: 0;
}

.container {
    width: 40%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

h1 {
    color: #4CAF50;
    font-size: 28px;
    margin-bottom: 20px;
}

h3 {
    color: #333;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.download-btn {
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.download-btn:hover {
    background-color: #45a049;
}
body {
    background-image: url('{{ url_for('static', filename='background.jpg') }}');
    background-size: cover;
}
